



body{
    
    font-family: 'Rowdies', cursive;
    overflow-y: hidden; 
    overflow-x: hidden;
    margin: 0;
    max-height: 100%;
}

button {
    background-color: #555555;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 20px;
  }

  button:hover {
    background-color: white;
    color: black;
    border: 2px solid #555555;
  }
  
    

#scores {
    border-radius: 30%;
    padding: 5px;
    margin-right: 60px;
    margin-top: 20px;
    width: 150px;
    text-align: center;
   
    text-decoration: rgba(255, 242, 242, 0.728);
    font-size: larger;
}

#vidas {
    margin-top: 20px;
}

#nroVidas {
    font-size: 50px;
    color: aliceblue;
    border-color: black;

    text-shadow: 4cm;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: black;
    stroke: black;
}

.titulo {
    font-size: 100px;
}

#instrucciones {
    text-align: center;
}
.game-container {
    height: 100%;
    overflow-y: hidden; 
    overflow-x: hidden;
}

#pasto1{
    background: url("../img/parallax/0.png") repeat-x;
    bottom: 0px;
    height: 200px;
    z-index: 0;
    animation:mover-fondo 30s linear infinite;
}
#piso{
    background: url("../img/parallax/2.png") repeat-x;
    bottom: 05px;
    height: 700px;
    z-index: -1;
    animation: mover-fondo 20s linear infinite;
}
#arbustos{
    background: url("../img/parallax/3.png") repeat-x;
    bottom: 50px;
    height: 600px;
    z-index: -2;
    animation: mover-fondo 30s linear infinite;
}
#near-mountains{
    background: url("../img/parallax/5.png") repeat-x;
    bottom: 0px;
    height: 700px;
    z-index: -3;
    animation: mover-fondo 60s linear infinite;
}

#far-mountains{
    background: url("../img/parallax/4.png") repeat-x;
    bottom: 0px;
    height: 600px;
    z-index: -4;
    animation: mover-fondo 40s linear infinite;
}

.hide {
    display: none
}

#cielo{
    background: url("../img/parallax/6.png") repeat-x;
    bottom: 200px;
    height:800px;
    z-index: -5;
    animation: mover-fondo 60s linear infinite;
}
#pasto1, #piso, #arbustos, #near-mountains, #cielo{
    background-size: 2500px 100%;
    position: absolute;
    width: 100%;
}

.player{
    position: absolute;
    bottom: 70px;
    left: 100px;
    width: 164px;
    height: 151px;
    background-image: url(../img/estados/run.png);
    z-index: 0;
}


.run{
    animation: zombie-run 1s steps(10) infinite;
}

@keyframes zombie-run {    
    from {background-position: 0px;}
    to {background-position: -1647px;}
}


#playerQuieto{
    position: absolute;
    bottom: 70px;
    left: 100px;
    width: 164px;
    height: 151px;
    background-image: url(../img/estados/quieto.png);
    z-index: 0;
    animation: zombie-quieto 2s steps(10) infinite;
}



.quieto {
    position: absolute;
    bottom: 70px;
    left: 100px;
    width: 164px;
    height: 151px;
    background-image: url(../img/estados/quieto.png);
    z-index: 0;
    animation: zombie-quieto 2s steps(10) infinite;
}

@keyframes zombie-quieto{
    from {background-position: 0px;}
    to {background-position: -1647px;}
}

.herido{
    position: absolute;
    bottom: 70px;
    left: 100px;
    width: 164px;
    height: 151px;
    background-image: url(../img/estados/herido.png);
    z-index: 0;
    animation: zombie-herido 300ms steps(10) infinite;
}

@keyframes zombie-herido {
    from {background-position: 0px;}
    to {background-position: -1647px;}
}

.ko{
    position: absolute;
    bottom: 70px;
    left: 100px;
    width: 164px;
    height: 151px;
    background-image: url(../img/estados/ko.png);
    z-index: 0;
    animation: zombie-ko 500ms steps(9) infinite;
}

@keyframes zombie-ko {
    from {background-position: 0px;}
    to {background-position: -1562px;}
}

.dead{
    position: absolute;
    bottom: 70px;
    left: 100px;
    width: 164px;
    height: 151px;
    background-image: url(../img/estados/dead.png);
    z-index: 0;
    animation: zombie-herido 1000ms steps(10) infinite;
}


.jump{
    position: absolute;
    bottom: 70px;
    left: 100px;
    width: 164px;
    height: 151px;
    background-image: url(../img/estados/up.png);
    z-index: 0;
    animation: zombie-up 1s steps(10) infinite, zombie-jump 500ms cubic-bezier(0, 0, .5, 1) forwards;;
}

@keyframes zombie-up {
    from {background-position: 0px;}
    to {background-position: -1647px;}
}

@keyframes zombie-jump {
    from { bottom: 70px; }
    to { bottom: 50%; }
}


.fall{
    position: absolute;
    bottom: 70px;
    left: 100px;
    width: 164px;
    height: 151px;
    background-image: url(../img/estados/down.png);
    z-index: 0;
    animation: zombie-fall 300ms cubic-bezier(0, 0, .5, 1) forwards, zombie-down 1s steps(10) infinite;
}

@keyframes zombie-down {
    from {background-position: 0px;}
    to {background-position: -1647px;}
}

@keyframes zombie-fall {
    from { bottom: 50%; }
    to { bottom: 70px; }
}

.enemy{
    position: absolute;
    bottom: 50px;
    left: 300px;
    width: 182.16px;
    height: 200px;
    background-image: url(../img/zombie/enemy.png);
    z-index: 0;
}

.enemy2{
    position: absolute;
    bottom: 50px;
    left: 300px;
    width: 178px;
    height: 200px;
    background-image: url(../img/zombie/enemy2.png);
    z-index: 0;
}

.prizeBody{
    position: absolute;
    bottom: 400px;
    left: 300px;
    width: 58px;
    height: 50px;
    background-image: url(../img/prizes/body.png);
    z-index: 0;
    
}




@keyframes enemy {
    from { left: 100%; }
   to { left: -400px; }
}

#menu-game-over {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#start-buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


@keyframes enemy-run {
    from { background-position-x: position 0px;}
    to {background-position-x:-1093px;}
}

@keyframes enemy2-run {
    from { background-position-x: position 0px;}
    to {background-position-x:1073px;}
}

@keyframes mover-fondo {
    from {background-position-x: 0px;}
    to {background-position-x: -5000px;}
} 






@keyframes rotar-div {
    from {transform: rotate(0deg);}
      to {transform: rotate(359deg);}
}